<ion-header>
  <ion-navbar color="primary">
    <ion-title>
Testing Project
    </ion-title>
  </ion-navbar>
</ion-header>



<ion-content  >

<ion-item  ><H1>Hiiii Thia is abhinav</H1></ion-item>

<h1>Hii this is test from perticular posting inhome.html file</h1>

</ion-content>



