page-home {

}
// .demo-card-square.mdl-card {
//   width: 320px;
//   height: 320px;
// }
// .demo-card-square > .mdl-card__title {
//   color: #fff;
//   background:
//     url('../assets/certi.png') bottom right 15% no-repeat #46B6AC;
// }