
<ion-header>

  <ion-navbar>
    <ion-title>Test2</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>
  <ion-radio>Abhinav from perticular changes</ion-radio>
</ion-list>
</ion-content>
